source https://www.nuget.org/api/v2

# build dependencies
nuget Fake

# test dependencies
nuget Xunit 2.1.0
nuget FsCheck
nuget FsCheck.Xunit
nuget Unquote
nuget xUnit.Runner.Console

# implementation dependencies
nuget Suave
nuget Suave.Swagger

nuget Newtonsoft.Json
nuget NEventStore

nuget FSharp.Data
nuget FSharp.Core 4.0.0.1
